{{- range .Values.microservices }}
{{- if .enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ .name }}
    {{- include "ecommerce.labels" $ | nindent 4 }}
spec:
  type: {{ $.Values.service.type }}
  ports:
  - port: {{ .port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ .name }}
    {{- include "ecommerce.selectorLabels" $ | nindent 4 }}
---
{{- end }}
{{- end }}
